.employee-profile {
  width: 100%;
  min-height: 100vh;
  background: #e1e1e7;
}

.profile-header-jumbotron {
  min-height: 25vh;
}

.employee-details {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.employee-avatar {
  width: 280px;
  height: 280px;
  border-radius: 2%;
  cursor: pointer;
  overflow: hidden;
}

.employee-avatar:hover img {
  transform: scale(1.1);
}

.employee-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 2%;
  z-index: -999;
  transition: 450ms all ease-in-out;
}

.employee-avatar-overlay {
  position: absolute;
  width: 280px;
  height: 280px;
  border: 3px solid #ffffffb0;
  border-radius: 2%;
  cursor: pointer;
  overflow: hidden;
}

.employee-avatar-overlay img {
  width: 280px;
  height: 280px;
  border-radius: 2%;
  cursor: pointer;
}

.employee-info {
  padding: 5vh 0 0 5vh;
  color: #ffffffb0;
  cursor: pointer;
}

.employee-info p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #ffffffb0;
  transition: 450ms all ease-in-out;
}

@media only screen and (max-width: 425px) {
  .employee-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .employee-avatar {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
  }

  .employee-avatar:hover img {
    transform: scale(1.1);
  }

  .employee-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -999;
    transition: 450ms all ease-in-out;
  }

  .employee-info {
    padding: 2vh 5vh;
    color: #ffffffb0;
    cursor: pointer;
    text-align: center;
    line-height: 1.2;
  }

  .employee-info h1 {
    font-size: 1.5rem;
  }

  .employee-info p {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
}
