.profile-header-jumbotron {
  min-height: 25vh;
}

.employee-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employee-avatar {
  width: 300px;
  height: 300px;
  border: 10px solid #e1e1e7;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

.employee-avatar:hover img {
  transform: scale(1.1);
}
.employee-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -999;
  transition: 450ms all ease-in-out;
}

.employee-info {
  padding: 5vh 0;
  color: #e1e1e7d5;
  cursor: pointer;
  text-align: center;
}

.employee-info p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #e1e1e77a;
  transition: 450ms all ease-in-out;
}

.employee-info p:hover {
  text-decoration: underline;
}

.badges {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.badges h3 {
  font-weight: 400;
}

.badges h3 span {
  padding: 10px;
  cursor: pointer;
}
