.header-jumbotron {
  background: #172966;
}

.breadcrumb {
  padding: 0;
  background: #172966;
}

.breadcrumb ol li {
  font-size: 2.5rem;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.breadcrumb ol li a {
  color: #e1e1e7;
}

@media only screen and (max-width: 1024px) {
  .breadcrumb ol li {
    font-size: 1.5rem;
  }
}
